{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="bg-gray-50 font-serif leading-normal tracking-normal">
  {% block content %} {% endblock %}
  </body>

  <script src="{% static 'tracker/js/member_detail.js' %}" defer > </script>
  <script src="{% static 'tracker/js/delete_modal.js' %}" defer > </script>
  <script src="{% static 'tracker/js/trainer_detail.js' %}" defer > </script>
  <script src="{% static 'tracker/js/workout_detail.js' %}" defer > </script>


</html>
